*
    padding:0
    margin:0
html 
    font-size:12px
    font-family:-apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif
    word-break:break-word
    color:#333
    background-color:#f4f5f5
.h5
    font-size: 15px
    font-weight: 500
.content 
    position:relative
    margin:0 auto
    width:100%
    max-width:1000px
ul 
    list-style:none
    font-size:16px
input, button, select, textarea 
    outline: none
    -webkit-appearance: none
    border: 0
.view-contaner
    width:1000px
    margin: 0 auto
    margin-top: 80px
 .mask-container 
    line-height: 2
    color: #FFEFAF
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(0,0,0,0.40)
    z-index: 5
.masks
    width: 400px
    height: auto
    background: #fff
    border-radius: 5px
    left: 50%
    top: 50%
    position: absolute
    -webkit-transform:translate(-50%,-50%)
    -moz-transform:translate(-50%,-50%)
    -o-transform:translate(-50%,-50%)
    -ms-transform:translate(-50%,-50%)
    transform:translate(-50%,-50%)
    color:#71777c
    padding:30px
.close
    position: relative
    height: 30px
    overflow: hidden
    margin-bottom:20px
.close .name   
    float: left
    font-size: 18px
    color: #333
    line-height: 30px
    font-weight: bold
#close
    position: absolute
    right: 0
    font-size: 28px
    line-height: 16px
    top: 0
    line-height: 28px
    color:#8590a6
.item 
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    align-items: center
    margin-top:20px
.item label
    width:100px
.input
    padding: 10px
    flex:1
    border: 1px solid #e9e9e9
    border-radius: 2px
    outline: none
    box-sizing: border-box
    display:block
    transition: all ease-in-out .15s
    -webkit-transition: all ease-in-out .15s
.input:focus
    box-shadow: 0 0 3px #007fff
button.btn
    width: 100%
    height: 36px
    color: #fff
    background-color: #007fff
    border-radius: 2px
    outline: none
    box-sizing: border-box
    cursor: pointer
    margin-top:20px
    font-size: 16px
.switch-state
    color: #007fff
    cursor: pointer
.error
    color:#ea5947
a
    padding: 0 15px
    font-size: 15px
    color: #90979c
    cursor: pointer
    text-decoration: none

